@import "variables";
@import "add-details";

body {
    font-family: "Open Sans", sans-serif;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    padding: 0;
    margin: 0;
    background: #eeeeee;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
}
.left-side {
    float: left;
}
.right-side {
    float: right;
}
header {
    height: 80px;
    border: 1px solid #ccc;
    &.top {
        background: #e1e1e1;
    }
    nav {
        padding: 0;
        ul {
            padding: 0;
            display: inline-block;
            list-style-type: none;
            li {
                padding: 0;
                display: inline-block;
            }
        }
    }
}
.jumbo-text {
    font-size: 2rem;
    font-weight: 700;
    span {
        font-size: 1rem;
        font-weight: 400;
    }
}